body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d17a45;
}

.header {
    margin-left: 200px;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 40px;
=======
    margin-top: 55px;
>>>>>>> c942b45263fb9a0ed9eba666ca17b62a21488d64
=======
    margin-top: 55px;
>>>>>>> 29e4626d003441249df87b45c3beeeb31ecd6b87
    margin-bottom: 20px;
    background-color: #a65323;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 81%;
    border-radius: 50px;
}

.logo {
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 3px;
    margin-left: 13px;
=======
    margin-top: 13px;
    margin-left: 15px;
>>>>>>> c942b45263fb9a0ed9eba666ca17b62a21488d64
=======
    margin-top: 13px;
    margin-left: 15px;
>>>>>>> 29e4626d003441249df87b45c3beeeb31ecd6b87
    width: 125px;
    height: 125px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

.nav a.activo {
    color: white;
    font-weight: bold;
    text-decoration: underline;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ECC4A6;
}

.table th,
.table td {
    border: 1px solid #a65323;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #F1B384;
}
>>>>>>> c942b45263fb9a0ed9eba666ca17b62a21488d64
=======
}
>>>>>>> 29e4626d003441249df87b45c3beeeb31ecd6b87
