{%extends "Layaut_administracion.html"%}
{% block links2 %}
    <link href="{{ url_for('static', filename='css/estilos_usuarios.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

{% block contenido %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div style="display: flex; justify-content: center;">
            {% for category, message in messages %}
                <div style="width: 1200px; margin-top: 20px;" class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <main class="custom-main">
        <div class="custom-table-container">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Teléfono</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.persona.nombre }} {{ empleado.persona.apPaterno }} {{ empleado.persona.apMaterno }}</td>
                        <td>{{ empleado.puesto}} </td>
                        <td>
                            {{ empleado.persona.telefono }}
                        </td>
                        <td>
                            {{'Activo' if empleado.usuario.estatus == 1 else 'Inactivo'}}
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="detallesEmpleado?idEmpleado={{empleado.idEmpleado}}" class="btn btn-link text-dark">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a href="modificarEmpleado?idEmpleado={{empleado.idEmpleado}}" class="btn btn-link text-dark me-2">
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                                <a href="eliminarEmpleado?idEmpleado={{empleado.idEmpleado}}" class="btn btn-link text-dark">
                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="custom-extra-section">
            <div class="custom-button-container">
                <button type="button" class="custom-btn" data-bs-toggle="modal" data-bs-target="#registroEmpleadoModal"><i class="fa-solid fa-circle-plus"></i> Agregar</button>
                <button class="custom-btn" onclick=""><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="registroEmpleadoModal" tabindex="-1" aria-labelledby="registroEmpleadoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registroEmpleadoModalLabel">Registro de Empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {%import "_macros.html" as macro%}
                        <form action="/registroEmpleado" method="post" novalidate>
                            {{ form.csrf_token}}
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            <fieldset class="mb-4">
                                <legend>Datos Personales</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.apPaterno, class="form-control", placeholder="Apellido Paterno")}}
                                    </div>
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.apMaterno, class="form-control", placeholder="Apellido Materno")}}
                                    </div>
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.nombre, class="form-control", placeholder="Nombre")}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        {{macro.camposNuevos(form.genero, class="form-select")}}
                                    </div>
                                    <div class="col-md-3">
                                        {{macro.camposNuevos(form.telefono, class="form-control", placeholder="Teléfono")}}
                                    </div>
                                    <div class="col-md-6">
                                        {{macro.camposNuevos(form.email, class="form-control", placeholder="Email")}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{macro.camposNuevos(form.calle, class="form-control", placeholder="Calle")}}
                                    </div>
                                    <div class="col-md-2">
                                        {{macro.camposNuevos(form.numero, class="form-control", placeholder="Número")}}
                                    </div>
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.colonia, class="form-control", placeholder="Colonia")}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.codigoPostal, class="form-control", placeholder="Codígo Postal")}}
                                    </div>
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.fechaNacimiento, class="form-control")}}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="mb-4">
                                <legend>Datos de Usuario</legend>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{macro.camposNuevos(form.rol, class="form-select")}}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="mb-4">
                                <legend>Datos del Empleado</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{macro.camposNuevos(form.curp, class="form-control", placeholder="CURP")}}
                                    </div>
                                    <div class="col-md-6">
                                        {{macro.camposNuevos(form.rfc, class="form-control", placeholder="RFC")}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.salarioBruto, class="form-control", placeholder="Salario")}}
                                    </div>
                                    <div class="col-md-4">
                                        {{macro.camposNuevos(form.fechaIngreso, class="form-control")}}
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-center">
                                <div class="custom-button-container">
                                    <button type="submit" class="custom-btn">Registrar Empleado</button>
                                    <button type="button" class="custom-btn" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}